.root {
    width: 100vh;
    height: 100vh;
    margin: auto;
    padding: 3vh;
    box-sizing: border-box;
    background-color: #0a0a0a;
    display: block;
    --color: #04db00;
    font-size: 16px;
}

@media (max-width: 1600px) {
    .root {
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    .root {
        font-size: 11px;
    }
}

@media (max-width: 1366px) and (max-height: 800px)  {
    .root {
        font-size: 9px;
    }
}

@media (max-width: 1024px) and (max-height: 480px) {
    .root {
        font-size: 8px;
    }
}

@media (max-width: 800px) {
    .root {
        width: 100vw;
        height: 100vw;        
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .root {  
        font-size: 14px;
    }
}